@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-condensed.light.ttf");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 70.25%;
  font-family: Roboto;
}

body {
  margin: 0;
}
